
@{
    ViewBag.Title = "Index";
}

@* GCU --> INDEX*@
    
<button style="cursor: default" type="button" class="btn btn-lg btn-block card-header" disabled=""><h3 style="color: black">Наземные пункты управления нашего производства:</h3></button><br />

<div class="row">
    
    <div class="card">
        <h4 align="center" class="card-header">Переносной пункт </h4>
        <img class="card-img-top" src="~/Content/Pictures/gcu.jpg" alt="Card image cap" style="width: 100%; height: 100%">
        <h5 class="card-title">Время автономной работы - 5 ч. </h5>
        <p class="card-text">Комплектация по желанию заказчика</p>
        <a href="@Url.Action("portable", "gcu")" class="btn btn-secondary">Подробнее &raquo;</a>
    </div>


    <div class="card">
        <h4 align="center" class="card-header">Мобильный пункт </h4>
        <p align="center"><img class="card-img-top" src="~/Content/Pictures/gcu_mobile.jpg" alt="Card image cap" style="width: 100%; height: 100%"></p>
        <h5 class="card-title">Реализуется на базе автомобиля</h5>
        <p class="card-text">Комплектация по желанию заказчика</p>
        <a href="@Url.Action("mobile", "gcu")" class="btn btn-secondary">Подробнее &raquo;</a>
    </div>


    <div class="card" style="">
        <h4 align="center" class="card-header">Стационарный пункт </h4>
        <p align="center"><img class="card-img-top" src="~/Content/Pictures/gcu_static.jpg" alt="Card image cap" style="width: 100%; height: 100%"></p>
        <h5 class="card-title">Применяется для БАК аэродромного базирования</h5>
        <p class="card-text">Комплектация по желанию заказчика</p>
        <a href="@Url.Action("stationary", "gcu")" class="btn btn-secondary">Подробнее &raquo;</a>
    </div>

</div>




